html {
  height: 100%;
  margin-left:30pt;
  margin-right:30pt;
  font-family: "Computer Modern Sans", sans-serif;
}

h1 {
  font-size: 40pt;
  margin-bottom: 40pt;
}

h2 {
  font-size: 30pt;
  margin-top: 20pt;
  margin-bottom: 0pt;
}

textarea {
  margin-top: 5pt;
  width: 80%;
  height: 300px;
  padding: 10pt;
  font-size: 14pt;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  resize: none; 
}

#tapeInput {
  width: 80%;
  height: 20pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: center;
  height: 20pt;
  font-size: 14pt;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: 'Inconsolata', monospace;
  background-color: #f8f8f8;
}

body {
  font-size: 14pt;
  text-align: center;
  margin-left:30pt;
  margin-right:30pt;
  align-items: center;
  height: auto;
}

#output {
  text-align: left;
  font-size: 20pt;
  font-family: 'Inconsolata', monospace;
  line-height: 150%;
  padding: 50pt;
  padding-left: 100pt;
}

button {
  font-size: 14pt;
  font-family: "Computer Modern Sans", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: rgb(192, 192, 192);
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

button:hover {background-color: rgb(163, 163, 163)}

button:active {
  background-color: rgb(160, 160, 160);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#load {
  margin: 5pt;
  height: 24pt;
  width: 150pt;
}

#runOne, #runMax {
  margin: 10pt;
  margin-top: 50pt;
  height: 40pt;
  width: 150pt;
}

#maxSteps {
  text-align: center;
  padding-right: 10pt; 
  padding-left: 10pt; 
  margin: 10pt;
  width: 100pt;
  height: 20pt;
  font-size: 14pt;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-family: 'Inconsolata', monospace;
}

.split {
  height: 100%;
  z-index: 1;
  top: 0;
  padding-top: 20px;
  position: fixed;
}

.left {
  left: 0;
  width: 50%;
  background-color: #eee;
  overflow-x: auto;
  overflow-y: auto;
}

.right {
  right: 0;
  width: 50%;
  background-color: #ddd;
  overflow-y: auto;
  overflow-x: auto;
}

#tm2fileBtn, a {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444; 
  cursor: pointer;
  text-decoration: none;
}

/* Modal Stuff */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

#modaltext {
  font-size: 15pt;
  padding-left: 100pt;
  padding-right: 100pt;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}